# Persönliche Daten & Laufzeit-Daten
data/

# Alte Versionen
v1/
v2/

# Nicht veröffentlichen
doku/
marketing/
dockerhub/
test/

# Synology Extended Attributes
@eaDir/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
logo/
